.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  height: 5vh;
  width: 3vw;
  margin-right: 8px;
}
.logo > h3 {
  font-size: 2vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  width: 100vw;
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
}

.navbar {
  align-self: center;
}
.navbar > a {
  margin: 3.125vw;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: black;
}

.navbar > .home {
  color: orangered;
}

button {
  align-self: center;
  height: 6vh;
  width: 7vw;
  background: #fff;
  border: 3px black solid;
  font-size: 1.15vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.full {
  display: flex;
  margin-left: 8.125vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text > h2 {
  font-size: 3.9vw;
}

.full > .text > .p {
  margin-top: -4.5vh;
  font-size: 1.6vw;
  margin-bottom: 5px;
  padding-left: 20px;
  border-left: 1px black solid;
}

.clickables > .first,
.second {
  margin-top: 30px;
  width: 200px;
  height: 60px;
}

.first {
  margin-right: 40px;
  background: orangered;
  border: none;
  color: #fff;
}

.second {
  border: 1px solid black;
}

.orange {
  height: 400px;
  position: absolute;
  z-index: -99;
  left: 900px;
  bottom: 110px;
}
.man {
  border-radius: 30%;
  height: 380px;
  position: absolute;
  z-index: 2;
  left: 968px;
  bottom: 115px;
}
.pattern {
  position: absolute;
  z-index: 3;
  left: 900px;
  bottom: 134px;
  height: 400px;
}

.curve-arrow {
  position: absolute;
  bottom: 120px;
  right: 780px;
  height: 75px;
}

.circle {
  position: relative;
  left: 670px;
  top: 230px;
}

.green-arrow {
  height: 25px;
  position: relative;
  left: 200px;
  top: 280px;
}

.orange-arrow {
  height: 25px;
  position: relative;
  right: -90px;
  top: -140px;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 180px;
  background-color: rgb(35, 31, 71);
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-only > h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

.text-only > p {
  font-size: 17px;
  margin-left: 20px;
  margin-top: -8px;
  margin-bottom: 40px;
}

.img-text > img {
  margin-top: 40px;
  background: #ce3535;
  padding: 10px;
  height: 20px;
  width: 20px;
}

.img-text > h5 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: -10px;
}

.img-text > p {
  font-size: 17px;
}

.img-text > .teacher {
  background-color: #24c48a;
  border-radius: 10px;
}

.img-text > .bulb {
  background-color: orangered;
  border-radius: 10px;
}

.img-text > .support {
  background-color: rgb(30, 73, 158);
  border-radius: 10px;
}
